@page
@model IndexModel

<form method="post">
    <input type="text" name="query" placeholder="Enter your query" />
    <button type="submit">Submit</button>
</form>

<ul id="results">
    <li><a href="#" target="_blank">Example result</a></li>
</ul>
